.App {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

table {
    border-collapse: collapse; 
    font-family: sans-serif; /* All	data presentation in table */
}

th, td {
    border: 1px solid black; 
    padding: 10px; 
}

th {
    background-color: darkgray   ; 
}
  
tr:nth-child(even) {
    background-color: whitesmoke; 
}

tr:nth-child(odd) {
    background-color: gainsboro ; 
}

/* 对齐样式 */
.text-left {
    text-align: left; 
}

.text-center {
    text-align: center; 
}

.text-right {
    text-align: right; 
}


.selected-row, .selected-column {
    border-collapse: separate;
    border-spacing: 0;
}

.selected-row{
    border: 5px solid aqua;
}

.selected-column {
    border-left: 5px solid orangered;
    border-right: 5px solid orangered;
}

.selected-column-top {
    border-top: 5px solid orangered;
}

.selected-column-bottom {
    border-bottom: 5px solid orangered;
}

.average-failed {
    background-color: red;
    color: white;
}

button {
    margin: 5px 10px; /* 在按钮周围增加空隙 */
    padding: 10px 20px; /* 增加按钮内部的空间，使按钮更大 */
    font-size: 16px; /* 增加文字大小 */
    border-radius: 5px; /* 圆角边框 */
    cursor: pointer; /* 鼠标悬停时显示指针，提高用户体验 */
}

span{
    color:red;
}