.App {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


table {
    border-collapse: collapse; 
}

th, td {
    border: 1px solid black; 
    padding: 10px; 
}

th {
    background-color: darkgray   ; 
}
  
tr:nth-child(even) {
    background-color: whitesmoke; 
}

tr:nth-child(odd) {
    background-color: gainsboro ; 
}

/* 对齐样式 */
.text-left {
    text-align: left; 
}

.text-center {
    text-align: center; 
}

.text-right {
    text-align: right; 
}